[Unit]
Description={{DESCRIPTION}}
After=network.target

[Service]
Type=simple
WorkingDirectory={{WORKING_DIRECTORY}}
ExecStart={{SERVICE_BIN}}{{SERVICE_ARGS_SEGMENT}}
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
