<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>{{LABEL}}</string>
    <key>WorkingDirectory</key>
    <string>{{WORKING_DIRECTORY}}</string>
    <key>ProgramArguments</key>
    <array>
{{PROGRAM_ARGUMENTS_XML}}
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>{{STDOUT_PATH}}</string>
    <key>StandardErrorPath</key>
    <string>{{STDERR_PATH}}</string>
  </dict>
</plist>
